<div class="container-fluid">
  <div class="mb-3">
    <div class="h5 mb-0">Inicio</div>
  </div>
  <div class="row g-3">
    <div class="col-6 col-md-6 col-xl-4 mb-2">
      <a class="board-card" href="https://subsidiosfonvivienda.minvivienda.gov.co/mejoramientovivienda/acceso"
        target="_blank">
        <div class="board-icon">
          <img src="assets/icons/Icono_Sistema_Operativo_v2.png" alt="Icon" class="icon">
        </div>
        <div class="board-info">
          <div class="board-title">Plataforma Operativa SSFV</div>
          <div class="board-desc text-muted">Plataforma Operativa Subsidio Familiar de Vivienda</div>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-6 col-xl-4 mb-2">
      <a class="board-card" [routerLink]="['/dashboard/tablerostipo']">
        <div class="board-icon">
          <img src="assets/icons/Icono_Visores_Estrategicos.png" alt="Icon" class="icon">
        </div>
        <div class="board-info">
          <div class="board-title">Tableros de control</div>
          <div class="board-desc text-muted">Tableros de control y Visores Estratégicos</div>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-6 col-xl-4 mb-2">
      <a class="board-card" [routerLink]="['/dashboard/consultasexternas']">
        <div class="board-icon">
          <img src="assets/icons/Icono_Reportes.png" alt="Icon" class="icon">
        </div>
        <div class="board-info">
          <div class="board-title">Consulta Entidades Externas</div>
          <div class="board-desc text-muted">Consultas y Reportes Entidades Externas</div>
        </div>
      </a>
    </div>
    <div class="col-6 col-md-6 col-xl-4 mb-2">
      <a class="board-card" [routerLink]="['/dashboard/tableroscreangel']">
        <div class="board-icon">
          <img src="assets/icons/Icono_Creangel.png" alt="Icon" class="icon">
        </div>
        <div class="board-info">
          <div class="board-title">Consulta IFINDIT (creangel)</div>
          <div class="board-desc text-muted">Consulta creangel</div>
        </div>
      </a>
    </div>
     <div class="col-6 col-md-6 col-xl-4 mb-2">
      <a class="board-card" [routerLink]="['/dashboard/tableroscreangel']">
        <div class="board-icon">
          <img src="assets/icons/Vision360.png" alt="Icon" class="icon">
        </div>
        <div class="board-info">
          <div class="board-title">Visión 360</div>
          <div class="board-desc text-muted">Agua y Saniamiento Básico</div>
        </div>
      </a>
    </div>         
  </div>
</div>